:root {
	--main-color: #1b5b31;
	--background-first: #dcc1ab;
	--background-second: #f5f0ec;
	--background-third: #111111;
}

body {
	background-color: var(--background-first);
	font-family: 'Inter', sans-serif;
}
header {
	background-color: white;
}
footer {
	background-color: var(--background-third);
	color: white;
	a {
		text-decoration: none;
		color: white;
	}
}
// BUTTONS
.custom-btn {
	font-size: 0.8rem;
	padding: 0.4rem 0.8rem;
	border: none;
	border-radius: 20px;
	transition: background-color 0.3s, color 0.3s;
	i {
		font-size: 0.8rem;
		margin-left: 0.5rem;
	}
}
.grrenBtn {
	background-color: var(--main-color);
	color: white;
}
.grrenBtn:hover {
	background-color: #278046;
}
.transparentGreenBtn {
	background-color: transparent;
	color: var(--main-color);
	border: 1px solid var(--main-color);
}
.transparentGreenBtn:hover {
	background-color: #278046;
	color: white;
}
.transparentWhiteBtn {
	background-color: transparent;
	color: white;
	border: 1px solid white;
}
.transparentWhiteBtn:hover {
	background-color: #278046;
	color: white;
}
.transparentBlackBtn {
	background-color: transparent;
	color: black;
	border: 1px solid black;
	z-index: 10;
}
.transparentBlackBtn:hover {
	background-color: #e1b897;
}
.whiteBtn {
	background-color: white;
	color: var(--main-color);
}
.whiteBtn:hover {
	background-color: rgb(187, 187, 187);
}
// NAV
.nav-link {
	color: black;
}
.nav-link:hover,
.nav-link:focus,
.nav-link.show {
	color: var(--main-color);
}
.searchForm {
	display: none;
}
// SLIDE
.slide {
	background-color: var(--background-first);
	min-height: 40vh;
	h2 {
		font-size: 1.2rem;
	}
	p {
		font-size: 0.8rem;
	}
}
.slide-img {
	right: 0;
	top: 0;
	width: 40%;
	height: 100%;
}
.slide-img img {
	width: 100%;
	height: 100%;
}
.slideBtnBox {
	display: flex;
	justify-content: space-between;
	gap: 0.5rem;
	font-size: 1.2rem;
	padding: 0.5rem 1rem;
	bottom: 0;
	right: 0;
	background-color: white;
}
.slideBtnBox button {
	border: none;
	background-color: transparent;
}
// OFFERTS
.offert1,
.offert2 {
	background-color: var(--background-second);
}
.offert1 {
	padding-top: 4rem;
}
.offert2 {
	padding-bottom: 6rem;
}
// CARDS
.describe {
	span {
		color: var(--main-color);
		font-size: 0.75rem;
	}
	h2 {
		font-size: 1.2rem;
	}
	p {
		font-size: 0.9rem;
	}
}

.cards-card {
	background-color: white;
	h3 {
		font-size: 1.1rem;
	}
	p {
		font-size: 0.9rem;
	}
	a {
		font-size: 0.8rem;
	}
	opacity: 0;
	transform: rotateX(180deg);
	transition: opacity 0.5s, transform 0.5s;
}
.visible {
	opacity: 1;
	transform: rotateX(0);
}
.cards-card-img {
	height: 44px;
}

.cards-card-bottom a {
	color: var(--main-color);
}
.cards-card-bottom a:hover {
	color: #5ec281;
}
// COMPANY
.company {
	background-color: var(--main-color);
	color: white;
}
.company {
	min-height: 40vh;
	span {
		font-size: 0.8rem;
	}
	h3 {
		font-size: 1.1rem;
	}
	p {
		font-size: 0.9rem;
	}
}
.company-description {
	justify-content: space-between;
}
.company-img {
	left: 0;
	top: 0;
	width: 40%;
	height: 100%;
}
.company-img img {
	width: 100%;
	height: 100%;
}
// REALIZATION/GALLERY
.realization {
	min-height: 100%;
	background-color: var(--background-first);
	span {
		color: var(--main-color);
		font-size: 0.8rem;
	}
	h3 {
		font-size: 1.1rem;
		margin-bottom: 3rem;
	}
	p {
		font-size: 0.9rem;
	}
}
.realization-btnBox {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
	bottom: 0;
}

.grid {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.grid-item {
	width: 100%;
	margin-bottom: 20px;
	box-sizing: border-box;
	cursor: pointer;
	overflow: hidden;
}

.grid-item img {
	width: 100%;
	height: auto;
	display: block;
	transition: transform 1s ease;
}
.grid-item img:hover {
	transform: scale(1.1);
}
.gradient {
	position: absolute;
	width: 100%;
	height: 50%;
	bottom: 0;
	background: linear-gradient(
		360deg,
		#dcc1ab 0%,
		rgba(214, 183, 158, 0) 100%
	);
}
.popup-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	align-items: center;
	justify-content: center;
}
.popup-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.popup-content {
	position: relative;
	width: 90%;
	height: 90%;
	// overflow: hidden;
}

.popup-image {
	height: 100%;
	width: 100%;
	object-fit: contain;
}
.popupNextBtn,
.popupPrevBtn,
.popupCloseBtn {
	position: absolute;
	font-size: 2rem;
	background-color: transparent;
	border: none;
	color: white;
}
.popupCloseBtn {
	top: 2rem;
	right: 2rem;
}
.popupNextBtn {
	right: 2rem;
}
.popupPrevBtn {
	left: 2rem;
}
// INSTAGRAM
.instagram {
	background-color: var(--background-second);
	color: white;
	padding: 2rem 1rem;
	h3 {
		font-size: 1.2rem;
	}
	p {
		font-size: 1.1rem;
	}
}
.instagramBox {
	padding: 2rem;
	gap: 1rem;
	background-color: var(--main-color);
}
// FOOTER
.footer {
	p {
		font-size: 0.8rem;
	}
}
.line {
	background-color: white;
	width: 100%;
	height: 1px;
}
.copyright {
	margin-top: 6rem;
}
// MEDIA
@media screen and (min-width: 576px) {
	.grid-item {
		width: calc(50% - 10px);
	}
}

@media screen and (min-width: 768px) {
	.custom-btn {
		font-size: 1rem;
		padding: 0.8rem 1.6rem;
	}
	.custom-btn i {
		font-size: 1rem;
	}
	.slide {
		min-height: 50vh;
		h2 {
			font-size: 2rem;
		}
		p {
			font-size: 1rem;
		}
	}
	.describe,
	.company,
	.realization {
		span {
			font-size: 0.9rem;
		}
		h3 {
			font-size: 1.8rem;
		}
		p {
			font-size: 1rem;
		}
	}

	.slide-img {
		position: absolute;
	}
	.company-description {
		justify-content: flex-end;
	}
	.company-img {
		position: absolute;
	}
	.slideBtnBox {
		font-size: 1.8rem;
		padding: 0.8rem 1.6rem;
	}
	.instagram {
		padding: 2rem 3rem;
		h3 {
			font-size: 2rem;
		}
	}
	.instagramBox {
		padding: 4rem;
	}
	.footer {
		p {
			font-size: 1rem;
		}
	}
	.popupNextBtn,
	.popupPrevBtn,
	.popupCloseBtn {
		font-size: 4rem;
	}
}
@media screen and (min-width: 992px) {
	.custom-btn i {
		font-size: 1.5rem;
	}
	.slide {
		min-height: 60vh;
		h2 {
			font-size: 4rem;
			text-align: start;
		}
		p {
			font-size: 1.1rem;
			text-align: start;
		}
	}
	.describe,
	.company,
	.realization {
		span {
			font-size: 1rem;
		}
		h3 {
			font-size: 3rem;
		}
		p {
			font-size: 1.1rem;
		}
	}
	.grid-item {
		width: calc(33.33% - 10px);
	}
}

@media screen and (min-width: 1200px) {
	.slide {
		min-height: 70vh;
		h2 {
			font-size: 5rem;
		}
	}
	.describe,
	.company,
	.realization {
		h3 {
			font-size: 4rem;
		}
	}

	.slideBtnBox {
		font-size: 3rem;
		padding: 1rem 2rem;
		gap: 1rem;
	}
	.instagram {
		padding: 3rem 6rem;
		h3 {
			font-size: 3rem;
		}
		p {
			font-size: 1.2rem;
		}
	}
	.instagramBox {
		padding: 8rem;
	}
}

// ANIMATION
.slide-down {
	animation: slide-down 1s linear;
}

@keyframes slide-down {
	from {
		max-height: 0;
	}
	to {
		max-height: 1000px;
	}
}
.slide-right {
	animation: slide-right 0.5s ease-out;
}
@keyframes slide-right {
	from {
		transform: translateX(-1000px);
	}
	to {
		transform: translateX(0);
	}
}
